@import '../../../style/variables';

.item-list{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;

    /*
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row-gap: 2rem;
    place-items: center;
    */
}
