@import '../../../style/variables';

.genres{
    display: flex;
    flex-direction: row;
    &__title{
        color: $dark-blue;
        font-size: 16px;
        font-weight: 500;
    }
    &__genre{
        margin: 0 0.3rem;
        padding: 0 0.3rem;
        font-size: 16px;
        font-weight: 600;
        background-color: $text-gray;
        border-radius: 3px;
        color: $light-gray;
    }
}

@media screen and (max-width: 780px){
    .genres{
        flex-wrap: wrap;
    }
}