@import '../../style/variables';

.movies-page{
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    background-image: url('https://i.imgur.com/zYvH4NQ.jpg');
    &__welcome-section{
        position: absolute;
        top: 25%;
        transform: translateY(-50%);
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }
    &__movies-section{
        padding: 0rem 2rem 2rem 2rem;
    }
}
