@import '../../../style/variables';

.trailer-video{
    border-radius: 3px;
    position: absolute;
    z-index: 1;
    top: 30px;
}

@media screen and (max-width: 960px) {
    .trailer-video{
        top: 150px
    }
}

@media screen and (max-width: 800px) {
    .trailer-video{
        top: 200px;
        width: 450px;
        height: 220px;
    }   
}

@media screen and (max-width: 620px) {
    .trailer-video{
        width: 350px;
        height: 180px;
    }
}