@import '../../style/variables';

.searchbar{
    &__section{
        padding: 0.5rem;
        display: flex;
        flex-direction: row;
        gap: 1rem;
        border-radius: 3px;
        box-shadow: $black-box-shadow;
        background-color: $light-gray;
        &__input{
            width: 390px;
            background-color: $light-gray;
            &:focus{
                outline: none;
            }
        }
        &__btn{
            padding: 0.5rem;
            background-color: $light-blue;
            cursor: pointer;
        }
    }
}

@media screen and (max-width: 500px){
    .searchbar{
        &__section{
            &__input{
                width: 300px;
            }
        }
    }
}
