@import '../../style/variables';

.searchbar{
    width: fit-content;
    box-shadow: $black-box-shadow;
    &__section{
        padding: 0.5rem;
        display: flex;
        flex-direction: row;
        gap: 1rem;
        border-radius: 3px;
        background-color: $light-gray;
        &__input{
            width: 390px;
            background-color: $light-gray;
            &:focus{
                outline: none;
            }
        }
        &__btn{
            padding: 0.5rem;
            background-color: $light-blue;
            cursor: pointer;
        }
    }

}
