@import '../../../style/variables';

.tvShow-card{
    width: 430px;
    height: 250px;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: $black-box-shadow;
    border-radius: 3px;
    background: rgb(243, 246, 247);
    cursor: pointer;
    &__img{
        width: 150px;
        height: 250px;
        object-fit: cover;
        border-radius: 3px 0 0 3px;        
    }
    &__details{
        width: 100%;
        padding: 0.3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        &__title{
            font-family: $title-font;
            font-size: 40px;
            font-weight: 700;
            text-align: center;
            line-height: 0.9;
        }
        &__sub{
            display: flex;
            flex-direction: row;
            gap: 2rem;
            font-size: 20px;
            color: $dark-blue;
            &__info{
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: 16px;
                &__span{
                    font-size: 20px;
                    font-weight: 700;
                }
            }
        }
    }
}