@import '../../../style/variables';

.back-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    color: $white;
    position: absolute;
    top: 10px;
    left: 280px;
    cursor: pointer;
    &__text{
        font-size: 14px;
    }
}

@media screen and (max-width: 960px){
    .back-button{
        top: 120px;
        left: 10px;
    }
}

@media screen and (max-width: 780px){
    .back-button{
        top: 180px;
    }
}